.newsletter {
  padding-top: 6.8rem;
  padding-bottom: 12.8rem;

  .wrap {
    margin: 0 auto;
    width: 100%;
    max-width: 136rem;
    display: flex;
    align-items: center;
  }

  h2 {
    font-size: 4.8rem;
    font-weight: 500;
    text-align: left;
    margin-bottom: 5rem;
  }

  .input-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 53.8rem;
    background: $pink;
    height: 5.8rem;
    border-radius: 4rem;
    padding-right: 3rem;
    input {
      width: 100%;
      background: none;
      border: none;
      outline: none;
      margin-left: 2.4rem;
      color: $white;
      margin-right: 1rem;
      font-weight: 300;
      font-size: 2rem;
      &::placeholder {
        color: $white;
        font-weight: 300;
      }
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0) inset !important;
    }
    button {
      background: $white;
      color: black;
      border-radius: 4rem;
      width: 10rem;
      height: 3.8rem;
      font-weight: 400;
      font-size: 1.6rem;

      transition: filter ease 0.2s;
      &:hover {
        filter: brightness(0.9);
      }

      &.disabled {
        cursor: not-allowed;
        filter: brightness(0.6);
      }
    }
  }
}

@media (max-width: 1360px) {
  .newsletter {
    .wrap {
      padding-left: 4rem;
      padding-right: 4rem;
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 1100px) {
  .newsletter {
    .wrap {
      h2 {
        text-align: center;
      }
      .input-wrap {
        margin: 0 auto;
      }
      img {
        display: none;
      }
    }
  }
}
