* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

body {
  font-size: 1.6rem;
  font-family: "Manrope", sans-serif;
  background-color: #f2f2f0;
}

.button {
  cursor: pointer;
  text-transform: uppercase;
  background: linear-gradient(93.09deg, rgba(217, 78, 103, 0.7) 0%, rgba(217, 78, 103, 0.97) 0.01%, rgba(242, 159, 5, 0.5) 100%);
  font-weight: 600;
  font-size: 1.6rem;
  padding: 1.8rem 8rem;
  border-radius: 0.8rem;
  color: white;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  transition: filter ease 0.1s;
}
.button:hover {
  filter: brightness(0.9);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  max-width: 136rem;
}
.header .logo {
  font-size: 3.2rem;
  color: black;
  font-weight: 600;
}
.header .menu-btn {
  font-size: 4.3rem;
  position: relative;
}

.full-screen-menu {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background: linear-gradient(180deg, #f29f05 0%, #d94e67 100%);
}
.full-screen-menu.active {
  opacity: 1;
  pointer-events: all;
}
.full-screen-menu .header {
  justify-content: flex-end;
}
.full-screen-menu .menu-btn.full-screen {
  font-size: 4.3rem;
  color: white;
}
.full-screen-menu a {
  color: #f2f2f0;
  display: inline-block;
  font-size: 6.4rem;
  font-weight: 700;
}
.full-screen-menu a.active {
  color: #f2cb05;
  position: relative;
}
.full-screen-menu a.active::after {
  content: "";
  display: block;
  width: 2rem;
  height: 2rem;
  background-color: #f2cb05;
  position: absolute;
  border-radius: 100%;
  top: 50%;
  right: -4rem;
}
.full-screen-menu .navigation {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  max-width: 136rem;
  bottom: 10rem;
}

.newsletter {
  padding-top: 6.8rem;
  padding-bottom: 12.8rem;
}
.newsletter .wrap {
  margin: 0 auto;
  width: 100%;
  max-width: 136rem;
  display: flex;
  align-items: center;
}
.newsletter h2 {
  font-size: 4.8rem;
  font-weight: 500;
  text-align: left;
  margin-bottom: 5rem;
}
.newsletter .input-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 53.8rem;
  background: #d94e67;
  height: 5.8rem;
  border-radius: 4rem;
  padding-right: 3rem;
}
.newsletter .input-wrap input {
  background: none;
  border: none;
  outline: none;
  padding-left: 2.4rem;
  color: #f2f2f0;
  font-weight: 300;
  font-size: 2rem;
}
.newsletter .input-wrap input::-moz-placeholder {
  color: #f2f2f0;
  font-weight: 300;
}
.newsletter .input-wrap input::placeholder {
  color: #f2f2f0;
  font-weight: 300;
}
.newsletter .input-wrap button {
  background: #f2f2f0;
  color: black;
  border-radius: 4rem;
  width: 10rem;
  height: 3.8rem;
  font-weight: 400;
  font-size: 1.6rem;
  transition: filter ease 0.2s;
}
.newsletter .input-wrap button:hover {
  filter: brightness(0.9);
}
.newsletter .input-wrap button.disabled {
  cursor: not-allowed;
  filter: brightness(0.6);
}

.home .wrap {
  margin: 0 auto;
  width: 100%;
  max-width: 136rem;
}
.home .section-01 .wrap {
  margin-top: 22.8rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 13rem;
}
.home .section-01 h2 {
  font-size: 4.8rem;
  font-weight: 600;
  max-width: 77.7rem;
  margin-bottom: 3.4rem;
}
.home .section-02 {
  min-height: 100vh;
  padding-bottom: 20rem;
  background-color: #365902;
  color: #f2f2f0;
  padding-top: 11rem;
}
.home .section-02 h2 {
  font-size: 4rem;
  text-align: center;
  font-weight: 600;
  max-width: 89.4rem;
  margin: 0 auto;
}
.home .section-02 p {
  text-align: center;
  margin-top: 3rem;
}
.home .section-02 iframe {
  margin: 0 auto;
  margin-top: 5rem;
  width: 76rem;
  height: 43rem;
  display: block;
}
.home .section-03 {
  background-color: #f29f05;
  padding-top: 13rem;
  padding-bottom: 13rem;
}
.home .section-03 h2 {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 20rem;
  text-align: center;
}
.home .section-03 .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 4rem;
}
.home .section-03 .cards .card {
  background: #f2f2f0;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 42.7rem;
  height: 45.3rem;
}
.home .section-03 .cards .card img {
  max-width: 18rem;
}
.home .section-03 .cards .card h3 {
  margin-top: 1.6rem;
  font-size: 3.2rem;
}
.home .section-03 .cards .card p {
  margin-top: 2.6rem;
  max-width: 27rem;
  font-weight: 500;
  font-size: 1.6rem;
}

.about {
  min-height: 100vh;
}
.about .section-01 {
  min-height: 100vh;
  background: #365902;
  display: flex;
  align-items: flex-end;
  color: #f2f2f0;
}
.about .section-01 h2 {
  font-size: 4.8rem;
  max-width: 77.7rem;
}
.about .section-01 .wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 136rem;
  margin: 0 auto;
  padding-bottom: 10rem;
}
.about .section-01 .icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.2rem;
}
.about .section-01 .timer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1rem;
  width: 100%;
  background-color: #d94e67;
  animation: timer 4s linear infinite;
}
@keyframes timer {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.about .section-01 .circle {
  width: 18.4rem;
  height: 18.4rem;
  border-radius: 100%;
  border: 0.5rem solid #d94e67;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
}
.about .section-01 .circle.active {
  background-color: #d94e67;
}
.about .section-01 .circle:hover {
  background-color: #d94e67;
}
.about .section-01 .circle img {
  max-width: 14rem;
}
.about .section-02 {
  background-color: #f29f05;
  padding-top: 13rem;
  padding-bottom: 10rem;
}
.about .section-02 h2 {
  font-weight: 600;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 13rem;
}
.about .section-02 .wrap {
  max-width: 136rem;
  margin: 0 auto;
  width: 100%;
}
.about .section-02 .flex {
  display: flex;
  gap: 4.5rem;
}
.about .section-02 .flex.item-02 {
  margin-top: 20rem;
}
.about .section-02 p {
  font-weight: 500;
  font-size: 3.2rem;
}

.inseguranca-alimentar .wrap {
  max-width: 132rem;
  width: 100%;
  margin: 0 auto;
}
.inseguranca-alimentar .section-01 {
  min-height: 100vh;
  padding-bottom: 7rem;
  background: #365902;
  color: white;
}
.inseguranca-alimentar .section-01 .wrap {
  max-width: 132rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-top: 19rem;
  gap: 10rem;
}
.inseguranca-alimentar .section-01 h2 {
  font-size: 4.8rem;
  font-weight: 600;
}
.inseguranca-alimentar .section-01 img {
  width: 60rem;
  height: 60rem;
}
.inseguranca-alimentar .section-02 {
  padding-top: 14rem;
  min-height: 100vh;
}
.inseguranca-alimentar .section-02 h2 {
  color: #d94e67;
  font-weight: 600;
  font-size: 4.8rem;
  text-align: center;
  margin-bottom: 11rem;
}
.inseguranca-alimentar .section-02 table {
  width: 100%;
  text-align: left;
}
.inseguranca-alimentar .section-03 {
  min-height: 100vh;
  text-align: center;
  background: #d94e67;
  padding-top: 14rem;
  padding-bottom: 14rem;
}
.inseguranca-alimentar .section-03 h2 {
  color: white;
  font-weight: 600;
  font-size: 4.8rem;
  text-align: center;
  margin-bottom: 11rem;
}/*# sourceMappingURL=main.css.map */